.custom-select {
  font-size: 1.2em;  /* Увеличивает размер текста */
  padding: 0.1em;    /* Увеличивает внутренний отступ */
  width: 50%;       /* Задает ширину 100% от родительского элемента */
  box-sizing: border-box;  /* Учитывает padding и border в ширине */
}
