<!--&lt;!&ndash; request-details-dialog.component.html &ndash;&gt;-->
<!--<h1 mat-dialog-title>Details</h1>-->
<!--<div mat-dialog-content>-->
<!--  <p><strong>ID: </strong>{{ data.id }}</p>-->
<!--  <p><strong>Date of Request: </strong>{{ data.dateOfRequest }}</p>-->
<!--  <p><strong>Parent ID: </strong>{{ data.parentId }}</p>-->
<!--  <p><strong>Child ID: </strong>{{ data.childId }}</p>-->
<!--  <p><strong>Daycare ID: </strong>{{ data.daycareId }}</p>-->
<!--  <p><strong>Approved: </strong>{{ data.approved }}</p>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
  <button mat-button (click)="onNoClick()">Close</button>
<!--</div>-->
