<mat-nav-list >
  <div class="logo py-4">
    <img src="./assets/logo-main.svg" class="w-10 m-auto" style="border-radius: 50px" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 class="ml-4" style="font-family: 'Trebuchet MS',sans-serif">BALABAQSHA</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>
      home
    </mat-icon>
    Профиль
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Список детских садов
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/child-register">
    <mat-icon>edit</mat-icon> Регистрация ребенка
  </a>
  <a mat-list-item> <mat-icon>contacts</mat-icon> Link 4 </a>
  <a mat-list-item> <mat-icon>help</mat-icon> Link 5 </a>
</mat-nav-list>
